---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Hero from '../components/sections/Hero.astro';
import WhatIsZen from '../components/sections/WhatIsZen.astro';
import PracticeInfo from '../components/sections/PracticeInfo.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import FAQ from '../components/sections/FAQ.astro';
import Lineage from '../components/sections/Lineage.astro';
import Connect from '../components/sections/Connect.astro';
import Footer from '../components/layout/Footer.astro';
import Divider from '../components/ui/Divider.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Divider variant="circle" />
    <WhatIsZen />
    <Divider variant="line" />
    <PracticeInfo />
    <Divider variant="circle" />
    {/*
    <Testimonials />
    <Divider variant="line" />
    <FAQ />
    <Divider variant="circle" />
    
    */}
    <Lineage />
    <Divider variant="line" />
    <Connect />
  </main>
  <Footer />
</BaseLayout>
